page-care {
  .login-background {
  background: url('../assets/care.jpg');
  background-size: cover;
  }

  .item.item-input {
    background-color: reba(255, 255, 255, 0.0);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
