.ios, .md, .wp {
 
  page-intro {
 
ion-slide{
   color : white;
}

    #a {

background-color: #F7F7F7;
          }
 
	#b{
background-color: #c62828;
 }
	#c{  
background-color: #00c853;
}

#d{
background-color: #0288d1;
  }
 
}
}
